flows-7.json
[{"id":"e2bae9df.2f2f78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fb8ca3fc.74a93","type":"inject","z":"e2bae9df.2f2f78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":280,"wires":[["5fa39c8d.cc1074"]]},{"id":"5fa39c8d.cc1074","type":"Application","z":"e2bae9df.2f2f78","name":"","platform":"39eaa735.e9e918","name1":"1dc259ba.c874f6","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"Location","value":"NCKU"}],"cntInstance":"","x":430,"y":280,"wires":[["848f8241.bd4ee"]]},{"id":"848f8241.bd4ee","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"b161a8d4.ea55a8","type":"inject","z":"e2bae9df.2f2f78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":360,"wires":[["379e26e.2c2a5da"]]},{"id":"379e26e.2c2a5da","type":"Container","z":"e2bae9df.2f2f78","name":"","platform":"39eaa735.e9e918","name1":"1dc259ba.c874f6","viewtype":"DATA","viewunid1":"test_other","x":420,"y":360,"wires":[["24220b2d.500f24"]]},{"id":"24220b2d.500f24","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"fd60852.0c0f578","type":"ContentInstance","z":"e2bae9df.2f2f78","name":"","platform":"39eaa735.e9e918","name1":"1dc259ba.c874f6","container":"DATA","width":0,"options":[{"type":"str","label":"latitude","value":"22.9970688"},{"type":"str","label":"longitude","value":"120.22097"}],"x":440,"y":440,"wires":[["685e9c87.ecb564"]]},{"id":"685e9c87.ecb564","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":440,"wires":[]},{"id":"711a0e2d.b4383","type":"inject","z":"e2bae9df.2f2f78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":440,"wires":[["fd60852.0c0f578"]]},{"id":"ede639e9.5769b8","type":"http response","z":"e2bae9df.2f2f78","name":"","statusCode":"","headers":{},"x":470,"y":980,"wires":[]},{"id":"8a59502d.bffa","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":920,"wires":[]},{"id":"fadb7e0e.a6e63","type":"inject","z":"e2bae9df.2f2f78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":620,"wires":[["54d6a450.4bccfc"]]},{"id":"3a1650b.8dbefb","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":620,"wires":[]},{"id":"54d6a450.4bccfc","type":"Subscription","z":"e2bae9df.2f2f78","name":"","platform":"39eaa735.e9e918","sensor":"1dc259ba.c874f6","container":"DATA","path":"http://192.168.50.6:1880/locations","x":430,"y":620,"wires":[["3a1650b.8dbefb"]]},{"id":"78849818.524978","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":460,"y":920,"wires":[["fd985f0d.2ed3"]]},{"id":"fd985f0d.2ed3","type":"function","z":"e2bae9df.2f2f78","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":920,"wires":[["2bd661b7.cf17ae"]]},{"id":"2bd661b7.cf17ae","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":730,"y":920,"wires":[["2de180e2.a3596"]]},{"id":"2de180e2.a3596","type":"function","z":"e2bae9df.2f2f78","name":"","func":"var New = {latitude:null,longitude:null};\nNew.temperature = msg.payload.obj.str[0].$.name;\nNew.value = msg.payload.obj.str[0].$.val;\nmsg.payload = New;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":920,"wires":[["8a59502d.bffa"]]},{"id":"de0663fb.55c86","type":"http response","z":"e2bae9df.2f2f78","name":"","statusCode":"","headers":{},"x":910,"y":840,"wires":[]},{"id":"25644f35.1b206","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":781,"wires":[]},{"id":"cf32e068.d22f5","type":"http in","z":"e2bae9df.2f2f78","d":true,"name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":290,"y":781,"wires":[["a269441.12e39b8"]]},{"id":"a269441.12e39b8","type":"function","z":"e2bae9df.2f2f78","name":"set payload and header","func":"/*jshint multistr: true */\nvar data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>message</cnf>\\\n\t<con>\\\n\t  &lt;obj&gt;\\\n\t\t&lt;str name=&quot;latitude&quot; val=&quot;'+msg.payload.latitude+'&quot;/&gt;\\\n\t\t&lt;str name=&quot;longitude&quot; val=&quot;'+msg.payload.longtitude+'&quot;/&gt;\\\n\t  &lt;/obj&gt;\\\n\t</con>\\\n</m2m:cin>';\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":781,"wires":[["a7b916f1.2d7d08"]]},{"id":"a7b916f1.2d7d08","type":"http request","z":"e2bae9df.2f2f78","name":"post to mn-cse","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/LOCATION_GATEWAY_APPLIATION/DATA","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":781,"wires":[["25644f35.1b206","de0663fb.55c86","912338a2.382bf8"]]},{"id":"be826cbf.b3884","type":"http in","z":"e2bae9df.2f2f78","d":true,"name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":290,"y":920,"wires":[["78849818.524978","ede639e9.5769b8"]]},{"id":"4cad11f8.a8bb4","type":"http response","z":"e2bae9df.2f2f78","name":"","statusCode":"","headers":{},"x":1330,"y":560,"wires":[]},{"id":"ac81e096.afc41","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":520,"wires":[]},{"id":"b7e67caf.de156","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":806,"y":520,"wires":[["78fe68c7.baf458"]]},{"id":"78fe68c7.baf458","type":"function","z":"e2bae9df.2f2f78","name":"","func":"msg.payload=msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":936,"y":520,"wires":[["a3fd04da.26f138"]]},{"id":"a3fd04da.26f138","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":1066,"y":520,"wires":[["9c5cc28f.2329b"]]},{"id":"9c5cc28f.2329b","type":"function","z":"e2bae9df.2f2f78","name":"","func":"msg.payload=\"(latitude:\"+msg.payload.obj.str[0].$.val+\",longitude:\"+msg.payload.obj.str[1].$.val+\")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1196,"y":520,"wires":[["ac81e096.afc41","4cad11f8.a8bb4"]]},{"id":"dbf59dc8.cc933","type":"http in","z":"e2bae9df.2f2f78","name":"","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":246,"y":520,"wires":[["fc37cf77.7bcdb"]]},{"id":"eb012159.65bad","type":"http request","z":"e2bae9df.2f2f78","name":"GET FROM IN-CSE","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/in-cse/in-name/IN_LOCATION/DATA/la","tls":"","persist":false,"proxy":"","authType":"","x":636,"y":520,"wires":[["b7e67caf.de156"]]},{"id":"fc37cf77.7bcdb","type":"function","z":"e2bae9df.2f2f78","name":"","func":"msg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":436,"y":520,"wires":[["eb012159.65bad"]]},{"id":"7ddb9baf.abeb04","type":"http in","z":"e2bae9df.2f2f78","d":true,"name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":270,"y":1260,"wires":[["a5ad5738.aa6ca8"]]},{"id":"b8a40ade.315ac8","type":"http response","z":"e2bae9df.2f2f78","name":"","statusCode":"","headers":{},"x":706,"y":1220,"wires":[]},{"id":"a5ad5738.aa6ca8","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":426,"y":1260,"wires":[["e9eea60c.b711a8"]]},{"id":"e9eea60c.b711a8","type":"switch","z":"e2bae9df.2f2f78","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":546,"y":1260,"wires":[["b8a40ade.315ac8"],["c3c0760b.5c8958"]]},{"id":"c3c0760b.5c8958","type":"function","z":"e2bae9df.2f2f78","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":716,"y":1280,"wires":[["468bd10a.6b973"]]},{"id":"468bd10a.6b973","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":846,"y":1280,"wires":[["c35b9b61.0f5418"]]},{"id":"c35b9b61.0f5418","type":"function","z":"e2bae9df.2f2f78","name":"","func":"var New = {latitude:null,longitude:null};\nNew.latitude = msg.payload.obj.str[0].$.val\nNew.longitude = msg.payload.obj.str[0].$.val\nmsg.payload = NEW;\nreturn New;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":976,"y":1280,"wires":[["24e92899.a45e38"]]},{"id":"24e92899.a45e38","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1126,"y":1280,"wires":[]},{"id":"53e012b2.74ecec","type":"debug","z":"e2bae9df.2f2f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":740,"wires":[]},{"id":"912338a2.382bf8","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":890,"y":740,"wires":[["dbb3b4d.c75a148"]]},{"id":"dbb3b4d.c75a148","type":"function","z":"e2bae9df.2f2f78","name":"","func":"msg.payload=msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":740,"wires":[["8bd448ca.ea4a68"]]},{"id":"8bd448ca.ea4a68","type":"xml","z":"e2bae9df.2f2f78","name":"","property":"payload","attr":"","chr":"","x":1150,"y":740,"wires":[["49fc4bd0.cab564"]]},{"id":"49fc4bd0.cab564","type":"function","z":"e2bae9df.2f2f78","name":"","func":"msg.payload=\"(latitude:\"+msg.payload.obj.str[0].$.val+\",longitude:\"+msg.payload.obj.str[1].$.val+\")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":740,"wires":[["53e012b2.74ecec"]]},{"id":"39eaa735.e9e918","type":"xN_CSE","z":"","platform":"in-cse","URLBase":"http://127.0.0.1:8282/~/in-cse/in-name","user":"admin","password":"admin"},{"id":"1dc259ba.c874f6","type":"AE","z":"","appId":"IN_LOCATION"}]